<div class="card ForgotPasswordCard" >
    <!--Card content-->
    <div class="card-body">
        <p class="h4 text-center mb-4">Forgot Password</p>
        <p>Please Enter your email here so that we can send you an email to reset your password </p>
        <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input mdbInputDirective type="email" id="form1"  class="form-control validate" >
            <label for="form1" data-error="wrong" data-success="right" class="">Enter Email</label>
            </div>
            <center>
            <button type="button" class="submitBtn btn btn-success waves-effect waves-light" routerLink="/login">Submit</button>
        </center>
    </div>
  </div>
