<div class="card registerCard">
    <div class="card-body">
        <center>
            <h4 class="card-title">Register</h4>
        </center>
        <form  [formGroup]="form">
        <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input mdbInputDirective type="text" id="form1" class="form-control validate" formControlName="name">
                <label for="form1">Enter name</label>
            </div>        
        <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input mdbInputDirective type="email" id="form2" class="form-control validate" formControlName="email">
            <label for="form2"  data-error-message="Please enter a valid email" data-success="right">Enter Email</label>
        </div>
        <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input mdbInputDirective type="password" id="form3" class="form-control validate" formControlName="password">
            <label for="form3" data-error="wrong" data-success="right">Enter password</label>
        </div>
        <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input mdbInputDirective type="password" id="form4" class="form-control validate" formControlName="cpassword">
            <label for="form4" data-error="wrong" data-success="right">Confirm password</label>
        </div>
        <div class="md-form">
                <i class="	fa fa-address-book-o prefix grey-text"></i>
                <input mdbInputDirective type="tel" id="form5" class="form-control validate" formControlName="contact">
                <label for="form5" data-error="wrong" data-success="right">Contact No</label>
            </div>        
        <center>
        <button class="registerBtn btn aqua-gradient btn-rounded waves-effect waves-light" routerLink="/login">Register</button>
        </center>
        </form>
    </div>
</div>