<div class="card registerCard">
    <div class="card-body">
        <center>
            <h4 class="card-title">Register</h4>
        </center>

        <form #registerForm="ngForm" (ngSubmit)="register(model)" >
            <div>
                <i class="fa fa-user prefix grey-text"></i>
                <mat-form-field style="width: 280px;margin-left: 15px;"> 
                    <input type="text" matInput placeholder="Name" [formControl]="name" [(ngModel)]="model.name" required>
                    <mat-error *ngIf="name.invalid">{{getErrorForName()}}</mat-error>
                </mat-form-field>
            </div>

            <div>
                <i class="fa fa-envelope prefix grey-text"></i>
                <mat-form-field  style="width: 280px;margin-left: 15px;">
                    <input type="email" matInput placeholder="Email" [formControl]="email" [(ngModel)]="model.email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorForEmail()}}</mat-error>
                </mat-form-field>
            </div>

            <div>
                <i class="fa fa-lock prefix grey-text"></i>
                <mat-form-field  style="width: 280px;margin-left: 15px;">
                    <input type="password" matInput placeholder="Password" [formControl]="password" [(ngModel)]="model.password" required>
                    <mat-error *ngIf="password.invalid">{{getErrorForPassword()}}</mat-error>
                </mat-form-field>
            </div>

            <div>
                <i class="fa fa-lock prefix grey-text"></i>
                <mat-form-field  style="width: 280px;margin-left: 15px;">
                    <input type="password" matInput placeholder="Confirm Password" [formControl]="cpassword" [(ngModel)]="model.cpassword"  required>
                    <mat-error *ngIf="cpassword.invalid">{{getErrorForCpassword()}}</mat-error>
                </mat-form-field>
            </div>

            <div>
                <i class="fa fa-address-book-o prefix grey-text"></i>
                <mat-form-field  style="width: 280px;margin-left: 15px;">
                    <input type="text" matInput placeholder="Contact No" [formControl]="contact" [(ngModel)]="model.contact" required>
                    <mat-error *ngIf="contact.invalid">{{getErrorForContact()}}</mat-error>
                </mat-form-field>
            </div>

            <center>
                <button type="submit" class="registerBtn btn aqua-gradient btn-rounded waves-effect waves-light" >Register</button>
            </center>
        </form>
    </div>
</div>