.registerCard{
    width: 25rem;
    margin-top: 130px;
    margin-left: 400px;
}
.registerBtn{
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
    border-radius: 10em;  
    width: 130px;
}