<div style="margin-top: 100px;margin-left: 400px;">
  <div *ngFor="let note of notesArray">
    <div *ngIf="note.isTrash === true">
      <mat-card style="margin:5px;margin-top: 15px;"  fxFlex="30">
          <div fxLayout="row">
              <button mat-icon-button style="margin-left: -30px;margin-top: -28px">
                <mat-icon>check_circle_outline</mat-icon>
              </button>
              </div>
          <mat-card-title>
              <mat-card-title-text>
                <font size="4">{{note.Notetitle}}</font>
              </mat-card-title-text>
            </mat-card-title>
            <mat-card-content>
              {{note.NoteDesc}}
            </mat-card-content>

            <div fxLayout="row">
                <button mat-icon-button [matMenuTriggerFor]="menu" >
                    <img src="/assets/images/more.svg" />
                  </button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="deleteNoteForever(note.key)">Delete foreever</button>
                      <button mat-menu-item (click)="isTrashNote(note,note.key)">Restore</button>
                    </mat-menu>
            </div>
          </mat-card>
          </div>
    </div>
  </div>
