<div style="margin-top: 100px;">
  <mat-card style="width: 500px;margin-left: 400px;height: 60px;" *ngIf="note" (click)="showNote()">
    <mat-form-field style="width: 300px;margin-top: -30px;">
      <input matInput placeholder="Take a note........" >
    </mat-form-field>

    <div style="float: right;margin-top: -13px;">
      <button mat-icon-button>
        <img src="/assets/images/list.svg" />
      </button>

      <button mat-icon-button>
        <mat-icon>image</mat-icon>
      </button>

      <button mat-icon-button>
        <img src="/assets/images/pen.svg" style="height: 24px;width: 24px;" class="not-allowed"/>
      </button>
    </div>
  </mat-card>

  <mat-card style="width: 500px;margin-left: 400px" *ngIf="mainnote">
    <mat-form-field style="width: 400px;margin-top:-30px;" >
      <input matInput placeholder="Title" [(ngModel)]="model.notetitle">
    </mat-form-field>

    <img src="/assets/images/pin.svg" matTooltip="Pin Note" class="pinIcon">
    <mat-form-field style="width: 400px;margin-top: -30px;">
      <input matInput placeholder="Take a note......" [(ngModel)]="model.noteDesc">
    </mat-form-field>
    <div fxLayout="row">
      <button mat-icon-button>
        <img src="/assets/images/touch_app.svg">
      </button>
      <button mat-icon-button>
        <img src="/assets/images/addUser.svg">
      </button>
      <button mat-icon-button>
        <img src="/assets/images/color.svg">
      </button>
      <button mat-icon-button>
        <img src="/assets/images/image.svg">
      </button>
      <button mat-icon-button>
        <img src="/assets/images/archieve.svg">
      </button>
      <button mat-icon-button>
        <img src="/assets/images/more.svg">
      </button>
      <button mat-button (click)="hideNote();createNote(model)"> Close
      </button>
    </div>
  </mat-card>
</div>