[data-text]:empty:before {
    content: attr(data-text);
  }
  .note-text {
    outline: none;
    border: none;
    padding-bottom: 25px;
  }
  .title{
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    margin-top: 11px;
  }