.search {
    padding-left: 10px;
    position: relative;
    color: #aaa;
    font-size: 16px;
    background-color: white;
    
  }
  .searchIcon{
      margin-top: 50px;
  }
  .search input {
    border: none;
    text-indent: 10px;
    width: 615px;
    height: 40px;
  }
  #toolbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%  !important;
  }
  .signOutCard{
    width: 300px;
    height: 200px;
    margin-top: 245px;
    margin-left:-304px;
  }
  #profile-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  }
  
  #profile-container img {
    width: 150px;
    height: 150px;
  }
  