<div fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="center center">
    <div class="card logincard"  fxFlex.xs="10" fxFlex.gt-sm="30" fxFlex.gt-lg="30" fxFlex.gt="30" >
        <!--Card content-->
        <div class="card-body">
          <center>
              <img id="profile-img" class="profile-img-card"
               src="/assets/images/avatar.png" />
            <h4 class="card-title">Login</h4>
          </center>
          <form  [formGroup]="form">
            <div class="md-form form-group" >
              <i class="fa fa-envelope prefix grey-text"></i>
              <input mdbInputDirective type="email" id="form1"  class="form-control validate" formControlName="email" >
              <label for="form1" data-error="Please Enter valid email" data-success="Email validate" class="">Enter Email</label>
              </div>
              <div class="md-form form-group">
              <i class="fa fa-lock prefix grey-text"></i>
              <input mdbInputDirective type="password" id="form2" class="form-control validate" formControlName="password" >
              <label for="form2" data-error="please enter password" >Enter password</label>
            </div>
            <center>
            <button class="raisedBtn btn btn-purple waves-light" mdbWavesEffect>Login</button>
          </center>
        </form>
          <div class="modal-footer">
              <div class="options font-weight-light">
                  <p>Not a member? <a href="register">Sign Up</a></p>
                  <p>Forgot <a href="forgotPassword">Password?</a></p>
              </div>
          </div>
        </div>
      </div>
</div>