<div class="card logincard" >
  <!--Card content-->
  <div class="card-body">
    <center>
        <img id="profile-img" class="profile-img-card"
         src="/assets/images/avatar.png" />
      <h4 class="card-title">Login</h4>
    </center>
      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input mdbInputDirective type="email" id="form1"  class="form-control validate" >
        <label for="form1" data-error="wrong" data-success="right" class="">Enter Email</label>
        </div>
        <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input mdbInputDirective type="password" id="form2" class="form-control validate" >
        <label for="form2" data-error="wrong" data-success="right">Enter password</label>
      </div>
      <center>
      <button class="raisedBtn btn btn-purple waves-light" mdbWavesEffect>Login</button>
    </center>
    <div class="modal-footer">
        <div class="options font-weight-light">
            <p>Not a member? <a href="register">Sign Up</a></p>
            <p>Forgot <a href="#">Password?</a></p>
        </div>
    </div>
  </div>
</div>