<div fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="center center">
  <div class="card logincard" fxFlex.xs="10" fxFlex.gt-sm="30" fxFlex.gt-lg="30" fxFlex.gt="30">
    <div class="card-body">
      <center>
        <img id="profile-img" class="profile-img-card" src="/assets/images/avatar.png" />
        <h4 class="card-title">Login</h4>
      </center>
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <div>
          <i class="fa fa-envelope prefix grey-text"></i>
          <mat-form-field  style="width: 280px;margin-left: 15px;">
            <input type="email" matInput placeholder="Username" name="email" [formControl]="email" [(ngModel)]="model.email" required />
            <mat-error *ngIf="email.invalid">{{getErrorForEmail()}}</mat-error>
          </mat-form-field>
        </div>
        <div>
            <i class="fa fa-lock prefix grey-text"></i>
          <mat-form-field  style="width: 280px;margin-left: 15px;">
            <input type="password" matInput placeholder="Your Password" name="password" [formControl]="password" [(ngModel)]="model.password" required />
            <mat-error *ngIf="password.invalid">{{getErrorForPassword()}}</mat-error>
          </mat-form-field>
        </div>
    
    <center>
      <button class="raisedBtn btn btn-purple waves-light" mdbWavesEffect>Login</button>
    </center>
    </form>
    <div class="modal-footer">
      <div class="options font-weight-light">
        <p>Not a member?
          <a href="register">Sign Up</a>
        </p>
        <p>Forgot
          <a href="forgotPassword">Password?</a>
        </p>
      </div>
    </div>
  </div>
</div>
</div>