<div class="update-container" fxLayout="column">
  <span *ngIf="!note.isPin" fxFlex="10" (click)="isPinNote(note,note.key)" class="add-ons pin">
    <img src="/assets/images/pin.svg" />
  </span>
  <span *ngIf="note.isPin" fxFlex="10" (click)="isPinNote(note,note.key)" class="pin">
    <img src="/assets/images/unpin.svg" />
  </span>

  <button *ngIf="note.ImageUrl" (click)="deleteImage(note)" mat-icon-button class="icon-button delete-button">
    <mat-icon>delete</mat-icon>
  </button>
  <img *ngIf="note.imageUrl" style="width: 100%" src="{{note.ImageUrl}}">

  <div id="update-title" contenteditable='true' data-text='Title' class="note-text" name="title" (input)="note.Notetitle=$event.target.innerHTML">
    {{note.Notetitle}}
  </div>
  <div id="update-description" contenteditable='true' data-text='Take a note..' class="note-text" name="description" (input)="note.NoteDesc=$event.target.innerHTML">
    {{note.NoteDesc}}
  </div>

  <div *ngIf="note.remainder">
    <mat-chip-list class="labelChip">
      <mat-chip fxLayoutGap="5px">
        <img src="{{clock}}">
        <span>{{note.remainder|date:'MMM dd, hh:mm a'}} &nbsp;</span>
        <img src="/assets/images/close.svg" alt="X" class="labelCross" height="15px" (click)="removeReminder($event, note)">

      </mat-chip>
    </mat-chip-list>
  </div>

  <div fxLayout="row">
    <button mat-icon-button [matMenuTriggerFor]="remindermenu">
      <img src="/assets/images/touch_app.svg">
    </button>
    <mat-menu #remindermenu="matMenu" class="div-style">
        <div>
          <button mat-menu-item>
            <b>Reminder:</b>
          </button>
        </div>

        <div>
          <button (click)="setToday(note,note.key)" type="submit" mat-menu-item>
            <span>Later today</span>
            <span>8:00PM</span>
          </button>
        </div>

        <div>
          <button (click)="setTomorrow(note,note.key)" type="submit" mat-menu-item>
            <span>Tomorrow</span>
            <span>8:00AM</span>
          </button>
        </div>

        <div>
          <button (click)="setNextweek(note,note.key)" type="submit" mat-menu-item>
            <span>Next week</span>
            <span>mon,8:00AM</span>
          </button>
        </div>

        <div>
          <button type="submit" [matMenuTriggerFor]="pickdatemenu" mat-menu-item>
            <img style="margin-bottom: -3px;" src="{{clock}}">
            <span>Pick date & time</span>
          </button>
        </div>

        <mat-menu #pickdatemenu="matMenu" class="div-style">
          <div fxLayout="row" fxLayoutGap="2px">
            <div (click)="showform1()">
              <img src="{{backarrow}}">
            </div>
            <b>pick date & time:</b>
          </div>

          <div>
            <div>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date">
              <span style="float: right;margin-top: -10px;">
                <mat-datepicker-toggle matSuffix [for]="picker" style="margin-top: -10px;">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              </span>
            </div>
          </div>

          <div>
            <button class="done-btn-style" (click)="pickDateTime(note,note.key)" type="submit" mat-menu-item>
              <span>Done</span>
            </button>
          </div>
        </mat-menu>
      </mat-menu>


    <button mat-icon-button class="icon-button">
      <img src="assets/images/addUser.svg" >
    </button>
    <button mat-icon-button class="color-comp icon-button" style="background-color:inherit" [matMenuTriggerFor]="colormenu">
      <img src="assets/images/color.svg" >
    </button>

    <mat-menu #colormenu="matMenu">
      <div mat-menu-item *ngFor="let color of colors" fxLayout="row" fxLayoutGap="2px">
        <div *ngFor="let color1 of color">
          <div [style.background-color]="color1" [ngClass]="color1 == selectedcolor ?  'active' :  (color1 == 'white'  ?  'white-border color-pallete' :  'color-pallete')"
            (click)="setColor(note,color1)">
          </div>
        </div>

      </div>

    </mat-menu>

    <button mat-icon-button class="icon-button" (click)="triggerUpload()">
      <img src="assets/images/image.svg" >
      <input style="display: none;" type="file" id="update-image" [ngModel]="note.image" (change)="imageUpload($event, note)">
    </button>
    <button mat-icon-button class="icon-button" (click)="archive(note)">
      <img src="assets/images/archieve.svg" >
    </button>

    <button mat-icon-button  class="icon-button">
      <img src="assets/images/more.svg" >
    </button>
   

    <button mat-icon-button class="icon-button not-allowed">
      <mat-icon>undo</mat-icon>
    </button>

    <button mat-icon-button class="icon-button not-allowed">
      <mat-icon>redo</mat-icon>
    </button>
    <button mat-button [mat-dialog-close]="true"(click)="updateNote(note,note.key)">CLOSE</button>
  </div>

</div>