.note-text {
    outline: none;
    border: none;
    padding-bottom: 25px;
  }
.not-allowed{
  cursor: not-allowed;
  color: grey;
}
[data-text]:empty:before {
  content: attr(data-text);
}
.note-text {
  outline: none;
  border: none;
  padding-bottom: 25px;
}

.active {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: url("../../../assets/images/addtick.svg");
  border-color: gray;
  border-width: thin;
  border-style: solid;
}

.color-pallete {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border-color: white;
  border-width: thin;
  border-style: solid;
}

.icon-button {
  width:30px;
  height:30px;
}

.white-border {
  border-color: gray;
  border-width: thin;
  border-style: solid;
}

.note-width {
  width: 240px;
}

.div-style{
  margin-left: 10px;
  margin-right: -15px;
  margin-top: -7px;
}

 .done-btn-style {
  width: 83px;
  margin-left: 127px;
 }

@media screen and (max-width:599px) and (min-width:320px) {
  .note-width {
   width:90vw;
  }

}

.list-note {
  width:450px;
  margin-left:30vh;
}

@media screen and (max-width:900px) and (min-width:320px) {
  .list-note {
    width: 90vw;
    margin-left:0vh;

  }
}

.labelCross{
  display: none;
}

.labelChip :hover .labelCross{
  display: inline;
}

.update-container {
  position: relative;
  padding: 10px;
}

.add-ons {
  opacity: .54;
}

.pin {
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.delete-button {
  position: absolute;
  right: 0;
  bottom: 190px;
}